{% extends 'EventBundle::layout.html.twig' %}

{% block body %}

    <section class="event-show">
        <header id="menu">
            <a class="link" href="{{ path('event_index') }}">&larr; Volver a la lista de eventos</a>
        </header>

        <article>
            <header class="map-container">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{ event.location | url_encode }}&markers=color:red%7Ccolor:red%7C{{ event.location | url_encode }}&zoom=14&size=300x300&maptype=roadmap&sensor=false" />
            </header>
            <section>
                <h1>
                    {{ event.name }}
                    {% if app.user== event.owner %}
                    <a class="button" href="{{ path('event_edit', {'id': event.id}) }}">editar</a>
                    {% endif %}
                </h1>

                <dl>
                    <dt>donde:</dt>
                    <dd>{{ event.location }}</dd>

                    <dt>cuando:</dt>
                    <dd>{{ event.time | date('g:ia / l M j, Y') }}</dd>

                    <dt>que:</dt>
                    <dd>{{ event.details }}</dd>

                    <dt>creador:</dt>
                    <dd>{{ event.owner.username }}</dd>
                    <dt>asistentes:</dt>
                    {{ event.attendees|length }} vendrán
                    <dd>
                        <ul class="users">
                            {% for attendee in event.attendees %}
                            <li>{{ attendee.username }}</li>
                                {% else %}
                                <li>Nadie por aquí</li>
                            {% endfor %}
                        </ul>
                       {% if event.hasAttendee(app.user) %}
                           <a href="{{ path('event_unattend',{id: event.id} ) }}" class="btn btn-danger btn-xs js-attend-toggle">Ya no quiero ir</a>

                       {% else %}
                           <a href="{{ path('event_attend',{id: event.id} ) }}" class="btn btn-success btn-xs js-attend-toggle">Yo voy!</a>

                        {% endif %}

                    </dd>
                </dl>
            </section>
        </article>
    </section>


{% endblock %}
 {% block javascripts %}
     {{ parent() }}

     <script>
         $(document).ready(function() {
             $('.js-attend-toggle').on('click', function(e) {

                 e.preventDefault();

                 var $anchor = $(this);
                 var url = $(this).attr('href')+'.json';

                 $.post(url, null, function(data) {
                     if (data.attending) {
                         var message = 'Nos vemos ahí!';
                     } else {
                         var message = 'Te echaremos de menos!';
                     }

                     $anchor.after('<span class="label label-default">&#10004; '+message+'</span>');
                     $anchor.hide();
                 });
             });
         });
     </script>
 {% endblock %}