<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {%- if block('title') -%}
                {{ block('title') }} | Starwars Events
            {%- else -%}
                Events from a Galaxy, far far away
            {%- endif -%}
        </title>
        {% block stylesheets %}



            <link rel="stylesheet" href="{{ asset('bundles/event/css/event.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/events.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/main.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/prueba.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap.css') }}"/>
            <link rel="stylesheet" href="{{ asset('bundles/event/css/bootstrap.min.css') }}"/>

        {% endblock %}


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
